---
import "../styles/Global.css"
import Layout from '../layouts/Layout.astro';
import Kunstnere from "../components/CardsForside.astro";

const url = `${import.meta.env.SUPABASE_URL}/rest/v1/Kunstnere?select=*&limit=3`;
const apiKey = import.meta.env.SUPABASE_PUBLISHABLE_KEY;

const options = {
  headers: {
    apikey: apiKey,
  },
};

const data = await fetch(url, options)
  .then((res) => res.json());

const first3 = data.slice(0, 3);
---

<Layout footerClass="footer-index">

  <!-- 1. Hero video -->
  <div class="hero">
    <video autoplay muted loop playsinline>
      <source src="/img/Hero.webm" type="video/webm" />
    </video>
    <div class="hero-text">
      <h1>28/08</h1>
      <h1>29/08</h1>
    </div>
  </div>

  <!-- 2. Sektion -->
  <div class="Info-container">
    <h2>Hvad sker der i år?</h2>

    <div class="Info">
      {first3.map((kunstnere: any, index: number) => (
        <div class={`card-wrapper card-${index}`}>
          <details class="accordion">
            <summary class="btn1">{kunstnere.Navn}</summary>
            <div class="card-content">
              <img src={`/img/${kunstnere.Billede}`} alt={kunstnere.Navn} />
              <Kunstnere kunstnere={kunstnere} />
            </div>
          </details>
        </div>
      ))}

      <div class="card-wrapper card-3">
        <details class="accordion">
          <summary class="btn1">Langbord</summary>
          <div class="card-content">
            <img src="/img/langbord.webp" alt="Langbordsmiddag" />
            <h3>Langbordsmiddag</h3>
            <p>Høst handler også om mad, fællesskab og lokale råvarer. Lørdagens fællesmiddag er inkluderet i billetten, hvor alle samles om et sæsonbaseret måltid – skabt med fokus på kvalitet, nærhed og minimal spild.</p>
          </div>
        </details>
      </div>
    </div>
  </div>

  <!-- 3. Sektion -->
  <div class="map">
    <h2>Kort over pladsen</h2>
    <p>Høst Møn er tilbage! Hold din øl! Hent din pung! I sidste weekend af august holder vi Høst Møn på Masnedøfortet. Det er lige uden for Vordingborg, så transporten er lettere, bølgerne er højere, og udsigten er stadigvæk Falster.</p>
    <img src="/img/map.webp" alt="map">
  </div>

</Layout>

<style>
  /* 1. Hero */
  .hero {
    position: relative;
    width: 100%;
    height: 80vh;
    margin-top: 10rem;
    overflow: hidden;
  }

  .hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-text {
    position: absolute;
    bottom: 3rem;
    right: 5rem;
    font-size: 2.5rem;
  }

  /* 2. Sektion */
  h2 {
    margin: 3.9rem;
    font-size: 2.5rem;
  }

  .Info {
    display: flex;
    flex-direction: column;
    padding-right: 10rem;
  }

  .card-0 { margin-right: 5rem; }
  .card-1 { margin-right: 15rem; }
  .card-2 { margin-right: 3rem; }
  .card-3 { margin-right: 12rem; }

  summary {
    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none;
  }

  summary.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
    background-color: var(--color-lightgreen);
    color: var(--color-text);
    font-family: "Syne", sans-serif;
    font-weight: 700;
    cursor: pointer;
  }

  summary.btn1:hover {
  scale: 1.2;
    margin: 5px;
    background-color: var(--color-text);
    color: var(--color-background);
  }

  .card-content {
    position: relative;
    background-color: var(--color-lightgreen);
    padding: 3rem;
    width: 65rem;
    box-sizing: border-box;
    align-content: center;
    margin-bottom: 5rem;
  }

  .card-content img {
    width: 25rem;
    height: 20rem;
    object-fit: cover;
    display: block;
    margin: 0 auto 1.5rem auto;
  }

 .card-content h3 {
  text-align: left;
  margin-bottom: 1rem;
  padding-left: 17rem;
}

.card-content p {
  max-width: 40rem;
  line-height: 1.6;
  margin: 0 auto;
  text-align: left;
  padding-left: 7.4rem;
  padding-right: 7rem;
}

  details {
justify-items: end;
  }

  /* 3. Sektion */
  .map {
    background-color: var(--color-lightgreen);
    padding: 10px;
  }

  .map img {
    width: 60rem;
    justify-self: center;
  }

  .map p {
    margin-left: 60px;
  }
</style>
